@font-face {font-family: 'Atten';
    src: url('/Fonts/AttenRoundNewRegular.otf') format('opentype');
    font-weight: 400}

@font-face {font-family: 'Atten';
    src: url('/Fonts/AttenRoundNewBold.otf') format('opentype');
    font-weight: 700}

@import 'font-awesome/css/font-awesome.min.css';

:root {
    /* Main color */
    --color-1: #E16A54;
    /* Light color */
    --color-2: #fff5f5;
     /*Dark color  */
    --color-3: #400021;}
    
    /*  Brown variation
    --color-1: #E16A54;
    --color-2: #F39E60;
    --color-3: #2d0e01; */

    /*  Blue variation
    --color-1: #6886C5;
    --color-2: #F9F9F9;
    --color-3: #031946; */

    /*  VISA colors variation
    --color-1: #fcd356;
    --color-2: #FFF2CC;
    --color-3: #010e28; */

body {
    padding:0;
    margin:0;
    width: 100%;
    hyphens:auto;
    font-family:'Atten';
    overflow-x: hidden;
    font-weight: 400}

header {
    background-color: var(--color-2);
    height: 8vh;
    min-height: 4rem;
    font-size: 1rem;
    padding: 0 1.5%;
    margin: 0px;
    border-bottom:  solid var(--color-1) 0.25rem ;
    /* border-top:  solid var(--color-1) 0.25rem ; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between}

header ::selection, .education ::selection{
    background-color: var(--color-1);
    color: var(--color-2);}
    
.hero ::selection, .more ::selection{
    background-color: var(--color-2);
    color: var(--color-1)}

.hero em::selection{
    background-color: var(--color-2);
    color: var(--color-3);}

.experiences ::selection, footer ::selection{
    background-color: var(--color-3);
    color: var(--color-2)}

h1{
    font-weight: 700;
    Color: var(--color-3);
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-self: auto}

header a{
    text-decoration: none;
    color: var(--color-2);
    background-color: var(--color-3);
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    transition: 0.25s;}

header a:hover {
    color: var(--color-3);
    background-color: var(--color-1);
    font-weight: 700;
    transition: 0.25s}

html {
    width: 100%;    
    scroll-padding-top: 60px; /* Adjust the value as needed */}
      
header ul{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: var(--color-3);
    font-weight: 700}

header li {
    display: inline-block;
    margin-right: 1.5rem;}

header li a {
    background-color: inherit;
    color: inherit;
    text-transform: inherit;
    font-size: inherit;
    cursor: pointer;}

.main{
    padding: 5% 15% 0 15%;
    /* width: 100%; */
    margin: 0}

.hero{
    background-color: var(--color-3);
    color: var(--color-2)}

.hero a{
    color: inherit;
    padding-bottom: 0.1rem;
    border-bottom: solid var(--color-1) 0.25rem;
    text-decoration: none;}

.hero h2 {
    padding: 0;
    margin: 0 0 10% 0;
    text-align: left;
    hyphens: none;
    font-size: 4.5rem;
    font-weight: 400}

.hero em{
    color: var(--color-1)}

.content{
    padding-bottom:10%;
    height: auto;
    display: flex}

h3{
    margin: 0;
    font-size: 2.5rem}

.titles h3{
    padding: 0;
    margin: 0;
    font-weight: 700}

.titles{
    width:40%}

.text{
    font-size:1.5rem;
    text-align: justify;
    transform: translateY(0.6REM);
    width:60%}

.text ul {
    margin:0;
    list-style: none;
    padding: 0}

.ul {
    display: flex}

.ul li{
    margin-bottom: 1rem;}

.ul ul{
    width:50%}

.experiences{
    background-color: var(--color-1);
    color: var(--color-3)}

.experiences .content {
    background-color: var(--color-1);}    

h4{
    margin:0 0 0.5rem 0; 
    padding: 0;
    font-size: 2rem}

.experience{
    transform: translateY(0.65REM);
    width: 60%}

.experiences a{
    display: inline-block;
    padding:0 0 0.5rem 0;
    position: relative;
    text-decoration: none;
    color:inherit;
    font-size:1.5rem}

.experiences a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-3);
        transform-origin: left;
        transition: transform 0.4s ease-out}

.experiences a:hover::after {
  transform: scaleX(0); /* Shrinks the border to 0 width */
  transform-origin: left; /* Disappears from left to right */}

.experience svg{
    display: inline-block;
    position: relative;
    bottom: -0.25rem;
    height: 1.5rem;
    stroke: var(--color-3)}
    
.experience p {
    font-size: 1rem;
    padding-top: 0.5rem;}

.experiences a:hover{
    font-weight: 700}

 .job{
    margin: 0 0 7.5% 0}   

.job:last-child{
    margin:0}

 .date{
    color: var(--color-3);
    opacity: 75%}

.education{
    background-color: var(--color-2);
    color: var(--color-3);}

.edu{
    margin: 0 0 7.5% 0}

.edu:last-child{
    margin:0}

.edu p {
    margin: 0.5rem 0;
    padding:0 0 0 0}

.edu-small {display: none}    

.more{
    display: flex;
    justify-content: center;
    background-color: var(--color-3);
    color: var(--color-2)}

.facts{
    transform: translateY(0.65REM);
    width:60%;}

.fact{
    margin-bottom: 7.5%;}

.facts p {
    margin: 0.5rem 0 ;}

.fact h4 {
    text-transform: capitalize}

footer {
    background-color: var(--color-1);
    height: 5rem;
    font-size: 1rem;
    padding: 0 1.5%;
    margin: 0px;
    color: var(--color-3);
    /* border-bottom: solid var(--color-1) 0.5rem; */
    /* border-top:  solid var(--color-2) 0.5rem ; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;}

.fact:last-child{
    margin:0}

.icons {
    display: flex;
    position: absolute;
    font-size: 0;
    margin: 0;
    padding: 0 ;
    left: 50%;
    transform: translateX(-50%)}

footer a {
    display: flex; 
    justify-content: center}

footer svg{
    height: 2.5rem;
    width: 100%;
    fill: var(--color-3);
    margin: 0 2rem;
    transition: all 0.4s ease-out}

footer svg:hover{
    transform: scale(1.2);
    fill: var(--color-2);}

.button{
    height: 4rem;
    width: 4rem;
    background-color: var(--color-3);
    border: 2.5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    bottom: 5%;
    right: 10%;
    display: none;
    border-radius: 50%}

.button a {
    display: flex;
    align-items: center}

.button svg {
    width: 2rem;
    fill: var(--color-2)}

@media only screen and (max-width: 1350px) {
    .hero h2 {padding-left: 0%}}

@media only screen and (max-width: 1200px) {
    header li {margin-right: 1rem}
    .main{padding: 5% 10% 0 10%;}}

@media only screen and (max-width: 1100px) {
    header li {margin-right: 0.5rem}
    .main{padding: 5% 5% 0 5%;}
    header {padding-right: 2.5%}
    footer {padding: 0 2.5%}}

@media only screen and (max-width: 1000px) {
    nav{display: none}
    header a {margin-left: auto}
    .hero h2 {font-size: 4rem}}

@media only screen and (max-width: 850px) {
    .hero h2 {font-size: 3.5rem}}

@media only screen and (max-width: 800px) {
    .titles{width:35%}
    .text{width:65%}}

@media only screen and (max-width: 750px) {
    .hero h2 {font-size: 3rem; hyphens: auto}}

@media only screen and (max-width: 700px) {
    .titles {margin-bottom: 2rem}
    .content {flex-wrap: wrap; width: 100%}
    .experience {width: 100%}
    .facts {width: 100%}
    .job h4 {width: 100%}
    .position {display: flex; width: 100%}
    .position a {flex-shrink: 0; padding-left: 0.5rem}
    .job p, .fact p {text-align: justify}
    .experiences h3 {text-align: center;
        display: inline-block;
        background-color: var(--color-3);
        padding: 1rem 2.5rem;
        border-radius: 4.5rem;
        color: var(--color-1)}
    .education h3 {text-align: center;
        display: inline-block;
        background-color: var(--color-3);
        padding: 1rem 2.5rem;
        border-radius: 4.5rem;
        color: var(--color-2)}
    .more h3 {text-align: center;
        display: inline-block;
        background-color: var(--color-2);
        padding: 1rem 2.5rem;
        border-radius: 4.5rem;
        color: var(--color-3)}             
    .experiences .titles {
        margin-bottom: 3rem;
        margin-top: 1.5rem} 
    .education .titles, .more .titles {
        margin-bottom: 2rem;
        margin-top: 1.5rem}
    .titles {width: 100%; 
        display: flex; 
        justify-content: center}
    .job, .fact {width: 100%; 
        display: flex;
        flex-wrap: wrap; 
        margin-bottom: 3rem;
        justify-content: center}
    .edu {width: 100%; 
        display: flex;
        flex-wrap: wrap; 
        justify-content: center}
    .edu p {width: 100%; text-align: center}
    .edu h4 {text-align: center}
    .experiences .date {width: 100%}
    .ul {margin-top: 1rem}
    .ul {text-align: center}
    .hero h2 {margin-bottom: 4rem}
    .text, .facts, .experience {
        width: 100%; 
        transform: translateY(0)}}

@media only screen and (max-width: 650px) {
    header a {display: none}
    .hero h2 span {display: none}
    .more, .education, .experiences {padding-bottom: 1.5rem}
    .button {display: flex}
    footer p{display: none}
    .icons {width: 100%; justify-content: center;}
    h1{width: 100%; text-align: center}}

@media only screen and (max-width: 500px) {
    .text {font-size: 1rem}
    .hero a {border-bottom: solid var(--color-1) 0.15rem}
    .hero h2 {margin-bottom: 2.5rem; font-size: 2rem; text-align: center}
    .ul {margin-top: 0.25rem}
    .hero .titles {margin-bottom: 1rem}
    .hero h3, h4 {font-size: 1.5rem}
    .experience h4 {transform: translateY(-0.35rem);}
    .experiences a {font-size: 1rem; padding-bottom: 0}
    .experiences a::after {bottom: 0.5rem}
    .experience svg{bottom: 0.15rem}
    .job p {margin-top: 0}
    p {text-align: justify}
    .edu:last-of-type p:first-of-type {display: none}
    .edu-small {display: block}}
